<!DOCTYPE html>
<html>
<head>
  <title>Maps</title>
  <meta name="viewport" content="initial-scale=1.0">
  <link rel="stylesheet" type="text/css" href="../../css/map.css">
</head>
<body>
  <%= yield %>
</body>
</html>
